@import "src/variables";

.tbg-task-list{
  display: flex;
  flex-direction: column;

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacer;
  }

  &__status{
    display: inline-block;
    user-select: none;
    min-width: 6rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    border: 1px solid transparent;
    border-radius: $borderRadius;

    &--complete{
      color: $colorSuccessDark;
      border-color: $colorSuccessDark;
    }
    &--in-work{
      color: $colorPrimary;
      border-color: $colorPrimary;
    }
  }
}
