$zIndexModal: 1150;
$zIndexHeader: 1100;
$zIndexDropDown: 1050;

$headerHeight: 4rem;

$spacer: 0.5rem;

$fontFamilyRoot: -apple-system, "Comfortaa", sans-serif;

$borderRadius: 3px;

$colorWhite: #ffffff;

$colorPrimary: #2196F3;
$colorPrimaryDark: #1986d5;

$colorSuccess: #4caf50;
$colorSuccessDark: #388e3c;

$colorAlert: #f14635;

$colorText: #495057;
$colorTextInversion: #ffffff;

$colorBorder: #858994;

$boxShadow: 1px 2px 5px 1px rgba(black, 0.25);
